.upload-container {
    height: 100px;
    border: 3px dotted #ccc;
}

.upload-container:hover, .upload-container.hover {
    border: 3px dotted #080d47;
}

.upload-container p {
    margin: 10px;
    text-align: center
}

.upload-spinner {
    width: 40px;
    height: 40px;
}

.uploaded-image {
    width: 94%;
    max-width: 500px;
    height: auto;
}